// ==========================================================================
// ? Colors
// Ex.: color: $white;
// * If you want to use more colors tonality, use $blue-100, $blue-200, etc.:
// ==========================================================================
$white: #fff;
$black: #000;
$transparent: transparent;
$dark-100: #1e1e1e;
$dark-200: #0a0a0a;
$light: #f5f5f7;
$blue: #785ef0;
$bright: #dedede;
