* {
  font-family: $font-sans;
  color: $light;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

#__nuxt,
#__layout {
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
